<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>


            <div class="details content">

                <h2>
                    <%= blog.title %>
                </h2>
                <% if(blog.image){ %>

                    <img src="/uploads/<%= blog.image %>" alt="Blog Image" class="blog-image">

                    <% } %>
                    
                        <div class="content">
                            <p class="blog-body">
                                <%-blog.body %>
                            </p>
                        </div>
                        <% if(canDelete){ %>
                            <a class="delete" data-doc="<%= blog._id %>">delete</a>
                        <% } %>
            </div>

            <%- include('./partials/footer.ejs') %>

                <script>
                    const trashcan = document.querySelector('a.delete');

                    if (trashcan) {
                    trashcan.addEventListener('click', (e) => {
                        const endpoint = `/blogs/${trashcan.dataset.doc}`;

                        fetch(endpoint, { method: 'DELETE' })
                            .then((response) => {
                                return response.json();
                            })
                            .then(data => {
                                if (data.redirect) {
                                    window.location.href = data.redirect;
                                }
                            })
                            .catch(err => console.log(err))
                    })
                    }
                </script>
    </body>

</html>
